[project]
	description = ngSeed - Use this as a starting point for your Angular application! You should also try our NodeJS Seed 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pedro Saraiva (pedrosaraiva)
[access "refs/for/refs/*"]
	read = group user/Pedro Saraiva (pedrosaraiva)
	push = group user/Pedro Saraiva (pedrosaraiva)
	label-Code-Review = -2..+2 group user/Pedro Saraiva (pedrosaraiva)
	label-Verified = -1..+1 group user/Pedro Saraiva (pedrosaraiva)
	rebase = group user/Pedro Saraiva (pedrosaraiva)
	removeReviewer = group user/Pedro Saraiva (pedrosaraiva)
	submit = group user/Pedro Saraiva (pedrosaraiva)
[access "refs/heads/*"]
	read = group user/Pedro Saraiva (pedrosaraiva)
	create = group user/Pedro Saraiva (pedrosaraiva)
	push = +force group user/Pedro Saraiva (pedrosaraiva)
	pushMerge = group user/Pedro Saraiva (pedrosaraiva)
[access "refs/tags/*"]
	push = +force group user/Pedro Saraiva (pedrosaraiva)
	pushTag = group user/Pedro Saraiva (pedrosaraiva)
	pushSignedTag = group user/Pedro Saraiva (pedrosaraiva)
